*{
    margin:0;
    padding: 0;
}
body{
    background-color: lightgray;
}
#encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
}
#titulo{
    margin-top:1.5rem;
}
#principal{
    margin-top:2rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:column;

}
.flex-item{
   /* border:1px solid red; */
}
.flex-item:not(:first-child){
    margin-top:2.5rem;
}

table{
 /*   border: 2px solid green;*/

    border-collapse: collapse;
    box-shadow: 3px 5px 5px brown;
}
table tr th{
    background-color: lightgreen;
    padding:4px;
}

table tr td{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
}
table tr td:not(:first-child){
    color:rgb(21, 35, 115);
}
table tr td:first-child{
   background-color: lightblue;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:22px;
   text-shadow: 2px 2px whitesmoke;    
}
.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
   }
   /* styling of Input */
   .input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   /* Hover on Input */
   input:hover {
    background: var(--input-hovered-color);
   }
   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }
   /* === if you want to do animated border on typing === */
   /* remove input:focus code and uncomment below code */
   /* input:valid ~ .input-border{
     width: 100%;
   } */