<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/" method="post">
  <label for="proc"></label>
  <select name="proc" id="">
    <option value="Procesador AMD Ryzen 5 5500G">AMD Ryzen 5 5500G</option>
    <option value="Procesador Intel Core i3-12100">Intel Core i3-12100</option>
    <option value="Procesador Intel Core i7 11700K">Intel Core i7 11700K</option> 
  </select>
  <br></br>
     <button type="submit">Encuéntralos!</button> 
 <!-- <div class="cajas">
            <div class="caja" id="ml">
              <div class="caja"></div>
              <div class="caja"></div>
              <div class="caja"></div>
              <div class="caja"></div>
              <div class="caja"></div>
              <div class="caja"></div>
            </div>
            <div class="caja" id="cyber">

            </div>
            <div class="caja" id="amazon">

            </div>  -->
  {{!-- Otros productos --}}
  
</form>
<div id="cajas">
  <div id="caja">
     <h3>{{merc}}</h3>
  </div>
  </div>